.calendarHeader{
  /* border: solid 1px black; */
  border-radius: 15%;
}

.month-label{
  text-align: center;
  background-color: #ffcb74;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border: solid 3px black;
  border-bottom: 0;
}
.calendar{
  background-color: #4f8a8b;
  text-align: center;
  font-size: 2rem;
  border: solid 5px black;
  padding: 1rem 2rem;
  /* border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%; */
}

.prevMonth, .nextMonth{
  opacity: 50%;
}


.header{
  background-color: #dbc6eb;
}
.week0, .week2, .week4{
  background-color: #efee9d;
}
.week1, .week3, .week5{
  background-color: #d1eaa3;
}

.day{
  width: 5rem;
  height: 2rem;
  border-radius: 20%;
  /* border: solid 1px black; */
}
.day:hover{
  background-color: #32e0c4;
  cursor: pointer;
}
